{% block form_label %}
{% if label is not same as(false) -%}
{% if not compound %}
{% set label_attr = label_attr|merge({'for': id}) %}
{% endif %}
{% if required %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
{% endif %}
{% if label is empty %}
{% set label = name|humanize %}
{% endif %}
{% if label != 'Token' %}
<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endif %}
{% endif %}
{% endblock form_label %}

{% block form_widget_simple %}
{% set type = type|default('text') %}

{% if type != 'hidden' %}
<div class="field {% block form_errors %}{% if errors|length > 0 %} error {% endif %}{% endblock %}">
	{% endif %}
	{{- form_label(form) -}}
	
	{% if type != 'hidden' %}
	<div class="ui left input">
		{% endif %}
		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
		{% if type != 'hidden' %}
	</div>
	{% endif %}
	
	{% for error in errors %}
	<p>{{ error.message }}</p>
	{% endfor %}
	
	{% if type != 'hidden' %}
</div>
{% endif %}
{% endblock form_widget_simple %}

{%- block textarea_widget -%}
{{- form_label(form) -}}
<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{% block checkbox_widget %}
<div class="field">
	{{- form_label(form) -}}
	<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
</div>
{% endblock checkbox_widget %}

{%- block choice_widget -%}
<div class="field">
	{{- form_label(form) -}}
	{% if expanded %}
	{{- block('choice_widget_expanded') -}}
	{% else %}
	{{- block('choice_widget_collapsed') -}}
	{% endif %}
</div>
{%- endblock choice_widget -%}

{%- block form_row -%}
{%- set widget_attr = {} -%}
{%- if help is not empty -%}
{%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
{%- endif -%}
<div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
{{- form_label(form) -}}
{{- form_errors(form) -}}
{{- form_widget(form, widget_attr) -}}
{{- form_help(form) -}}
</div>
{%- endblock form_row -%}