{% extends 'admin/base.html.twig' %}

{% block subbody %}
<h1>{{ 'create_user'|trans }}</h1>
{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
{{ form_widget(form.username) }}
{{ form_widget(form.email) }}
{{ form_widget(form.password) }}
{{ form_widget(form.roles) }}
{{ form_end(form) }}
{% endblock %}
