{% extends 'admin/base.html.twig' %}

{% block subbody %}
<h1>{{ 'edit_user'|trans }}</h1>

<div class="ui stackable grid">
	<div class="five wide column"></div>
	<div class="five wide column">
		{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
		{{ form_widget(form.username) }}
		{{ form_widget(form.email) }}
		{% if is_granted("ROLE_ADMIN") %}
		{{ form_widget(form.emailConfirmed) }}
		{% endif %}
		{% if app.user != user %}
		{{ form_widget(form.roles) }}
		{% endif %}
		{{ form_widget(form.locked) }}
		{% set errors = [] %}
		{% for child in form.children %}
		{% if child.vars.errors is defined %}
		{% for error in child.vars.errors %}
		{% set errors = errors|merge([error.message]) %}
		{% endfor %}
		{% endif %}
		{% endfor %}
		{% if errors|length > 0 %}
		<div class="ui form error field">
			<div class="ui error message">
				{% for error in errors %}
				<p>
					{{ error }}
				</p>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="ui form success field">
			<div class="ui success message">
				<p>
					{% autoescape false %}
					{{ flashMessage }}
					{% endautoescape %}
				</p>
			</div>
		</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="ui form error field">
			<div class="ui error message">
				<p>
					{% autoescape false %}
					{{ flashMessage }}
					{% endautoescape %}
				</p>
			</div>
		</div>
		{% endfor %}
		<div class="ui form field">
			{{ form_widget(form.save) }}
			<button type="button" class="ui button negative ui right floated user-delete">{{ 'delete'|trans }}</button>
		</div>
		{{ form_end(form) }}
	</div>
</div>

<div class="ui basic modal">
	<div class="ui icon header">
		<i class="users icon"></i>
		{{ user.username }}
	</div>
	<div class="content">
		<p>{{ 'user_delete_confirmation'|trans }}</p>
	</div>
	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			{{ 'no'|trans }}
		</div>
		<div class="ui green inverted button">
			<a href="{{ path('app_admin_user_delete', {'id': user.id}) }}">
				<i class="checkmark icon"></i>
				{{ 'yes'|trans }}
			</a>
		</div>
	</div>
</div>
{% endblock %}
