{% extends 'admin/base.html.twig' %}

{% block subbody %}
<div id="users">
	<h1>{{ 'users'|trans }}</h1>
	
	<div class="ui grid">
		<div class="left floated nine wide column">
				{{ form_start(form) }}
				{{ form_widget(form.keywords) }}
				{{ form_widget(form.submit) }}
				{{ form_end(form) }}
		</div>
		<div class="right floated three wide column right aligned">
				<a class="ui button" href="{{ path('app_admin_user_create') }}">
					{{ 'create'|trans }}
				</a>
		</div>
	</div>
	
	<table class="ui basic table stackable striped">
		<caption>{{ 'user_list'|trans }}</caption>
		<thead>
			<tr>
				<th>{{ 'id'|trans }}</th>
				<th>{{ 'username'|trans }}</th>
				<th>{{ 'email'|trans }}</th>
				<th class="center aligned">{{ 'role'|trans }}</th>
				<th class="right aligned">{{ 'action'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>
					{% if is_granted("ROLE_MOD") %}
					{{ user.email }}
					{% endif %}
				</td>
				<td class="center aligned">
					{% for role in user.roles %}
					{{ role }}
					{% endfor %}
				</td>
				<td class="right aligned">
					{% if is_granted('ROLE_MOD') and (user.roles == ['ROLE_USER'] or user == app.user)
					or is_granted('ROLE_ADMIN') and ((user.roles == ['ROLE_USER'] or 'ROLE_MOD' in user.roles) or user == app.user)
					or is_granted('ROLE_SUPER_ADMIN') %}
					<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">
						<em class="fa-solid fa-pencil"></em>
					</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if users|length > 10 %}
	<div class="ui pagination menu">
		{% for i in 1..(users|length / 10)|round(0, 'ceil') %}
		<a class="item {% if i == currentPage %}active{% endif %}" href="{{ path('app_admin_user', {'page': i, 'search': search}) }}">
			{{ i }}
		</a>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}
