{% extends 'base.html.twig' %}

{% block title %}{{ 'account'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'account'|trans }}</h1>

{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
{{ form_widget(form.email) }}
<div class="field">
	<div class="two fields">
		{{ form_widget(form.new_password.first) }}
		{{ form_widget(form.new_password.second) }}
	</div>
</div>
{{ form_widget(form.password) }}
{% for message in app.flashes('success') %}
<div class="ui positive message transition">
	<p>{{ message }}</p>
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div class="ui negative message transition">
	<p>{{ message }}</p>
</div>
{% endfor %}
{{ form_end(form) }}
{% endblock %}
