{% extends 'base.html.twig' %}

{% block title %}- {{ 'login'|trans }}{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h1>{{ 'login'|trans }}</h1>
		<form action="{{ path('app_login') }}" method="post" class="ui large form">
			<div class="ui stacked segment left aligned">
				<div class="field">
					<label for="username">{{ 'email'|trans }}</label>
					<input type="text" id="username" name="username" value="{{ last_username }}" required/>
				</div>
				<div class="field">
					<label for="password">{{ 'password'|trans }}</label>
					<input type="password" id="password" name="password" required/>
				</div>
				
				<div class="field">
					<label for="captcha">{{ 'captcha'|trans }}</label>
					<img src="{{ captcha.inline }}" alt="{{ 'captcha'|trans }}">
					<input type="text" id="captcha" name="captcha" value="" autocomplete="off" required/>
				</div>
				
				{% if error %}
				<div class="ui form error field">
					<div class="ui error message">
						<p>{{ error.message }}</p>
					</div>
				</div>
				{% endif %}
				
				{% for message in app.flashes('success') %}
				<div class="ui form success field">
					<div class="ui success message">
						<p>{{ message }}</p>
					</div>
				</div>
				{% endfor %}

				{% for message in app.flashes('error') %}
				<div class="ui form error field">
					<div class="ui error message">
						<p>{{ message }}</p>
					</div>
				</div>
				{% endfor %}
				
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				
				<div class="field">
					<a href="{{ path('app_reset_password') }}">{{ 'forgot_password'|trans }}</a>
				</div>
				
				<button type="submit" class="ui button">
					{{ 'sign_in'|trans }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}