{% extends 'base.html.twig' %}

{% block title %}- Administration{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
<div class="ui grid">
	<div class="sixteen wide stretched column">
		<div class="ui segment">
			{% block subbody %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}