{% extends 'base.html.twig' %}

{% block title %}- {{ 'search'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'search'|trans }}</h1>

<div class="ui form">
	{{ form_start(form) }}
	
	<div class="row">            
		<div class="field">
			{{ form_widget(form.keywords) }}
		</div>

		<div class="field">
			{{ form_widget(form.submit) }}
		</div>
	</div>
	
	{{ form_end(form) }}
</div>

<div class="ui relaxed divided list">
	{% for message in messages %}
	<div class="item">
		<i class="large envelope middle aligned icon"></i>
		<div class="content">
			{% if message.topic is defined %}
			<a class="header" href="{{ path('app_topic', {'id': message.topic.id}) }}">
				{{ message.message|length > 200 ? message.message|slice(0, 200) ~ '...' : message.message  }}
			</a>
			{% else %}
			<a class="header" href="{{ path('app_topic', {'id': message.id}) }}">
				{{ message.message|length > 200 ? message.message|slice(0, 200) ~ '...' : message.message  }}
			</a>
			{% endif %}
			<div class="description">
				{{ message.createdAt|format_datetime('medium', 'short', locale=app.request.locale) }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
