.ui.basic.modal {
	.content {
		p {
			font-size: 18px;
			text-align: center;
		}
	}
	.actions {
		text-align: center;
		a {
			color: unset;
		}
	}
}

#users {
	form .field {
		display: inline-block;
	}
	input[type=search] {
		width: 300px;
	}
}
