@import '~fomantic-ui';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Italic.ttf');
	font-style: italic;
}

* {
	font-family: Lato, sans-serif;
}

.main.container {
	margin-top: 7em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.ui.menu.inverted, .ui.inverted.attached.header {
	background-color: #545454;
}

h2.ui.header {
	margin-top: 0;
}

div.category {
	margin-bottom: 20px;
}

.ui.pagination.menu {
	margin-top: 30px;
	text-align: center;
}

em {
	width: 25px;
}

.ui.form .field input:not(:placeholder-shown):invalid {
	color: rgba(0, 0, 0, 0.87);
	background: #FFFFFF;
	border: 1px solid rgba(34, 36, 38, 0.15);
}

table caption {
	display: none;
}

#online-users {
	.header {
		font-size: 17px;
		font-weight: bold;
	}
	
	.content {
		padding-top: 10px;
		
		p span {
			&.super-admin {
				color: #9b59b6;
			}
			&.admin {
				color: #e74c3c;
			}
			&.mod {
				color: #27ae60;
			}
		}
	}
}