.topic .divider, .post .divider {
    margin-top: 100px;
}

.topic, .post {
	padding-bottom: 20px !important;

	.author {
		text-align: center;

		.username {
			margin-top: 12px;
			font-size: 18px;
			font-weight: bold;
		}

		.statistics {
			p {
				margin-bottom: 5px;
			}
		}
	}
}

.signature {
    font-style: italic;
}

.post:first-of-type {
    margin-top: 20px;
}

h1 {
	font-size: 17px !important;
}

h2 {
	font-size: 15px !important;
}