{% extends 'admin/base.html.twig' %}

{% block subbody %}
<h1>{{ 'create_category'|trans }}</h1>
{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
{{ form_widget(form.name) }}
{{ form_widget(form.description) }}
{{ form_end(form) }}
{% endblock %}
