{% extends 'admin/base.html.twig' %}

{% block subbody %}
<h1>{{ 'edit_category'|trans }}</h1>
{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
{{ form_widget(form.name) }}
{{ form_widget(form.description) }}
{% if category.parent %}
{{ form_widget(form.parent) }}
{% endif %}
{{ form_end(form) }}
{% endblock %}
