{% extends 'admin/base.html.twig' %}

{% block subbody %}
<h1>{{ 'categories'|trans }}</h1>

<a class="ui button" href="{{ path('app_admin_category_create') }}">
	{{ 'create'|trans }}
</a>

<table class="ui basic table stackable striped">
	<caption>{{ 'category_list'|trans }}</caption>
	<thead>
		<tr>
			<th>{{ 'id'|trans }}</th>
			<th>{{ 'name'|trans }}</th>
			<th class="right aligned">{{ 'action'|trans }}</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td>{{ category.id }}</td>
			<td>
				<a href="{{ path('app_admin_category_show', {'id': category.id}) }}">
					{{ category.name }}
				</a>
			</td>
			<td class="right aligned">
				<a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">
                    <em class="fa-solid fa-pencil"></em>
				</a>
				<a href="{{ path('app_admin_category_delete', {'id': category.id}) }}">
                    <em class="fa-solid fa-trash-can"></em>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if categories|length > 10 %}
<div class="ui pagination menu">
    {% for i in 1..(categories|length / 10)|round(0, 'ceil') %}
    <a class="item {% if i == currentPage %}active{% endif %}" href="{{ path('app_admin_category', {'page': i}) }}">
        {{ i }}
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
