{% extends 'admin/base.html.twig' %}

{% block subbody %}
<h3>{{ category.name }}</h3>
<a class="ui button" href="{{ path('app_admin_category_create', {'id': category.id}) }}">
	{{ 'create'|trans }}
</a>
<table class="ui basic table stackable striped">
	<caption>{{ 'category_list'|trans }}</caption>
	<thead>
		<tr>
			<th>{{ 'id'|trans }}</th>
			<th>{{ 'name'|trans }}</th>
			<th class="right aligned">{{ 'action'|trans }}</th>
		</tr>
	</thead>
	<tbody>
		{% for subcategory in category.categories %}
		<tr>
			<td>{{ subcategory.id }}</td>
			<td>{{ subcategory.name }}</td>
			<td class="right aligned">
				<a href="{{ path('app_admin_category_edit', {'id': subcategory.id}) }}">
					<em class="fa-solid fa-pencil"></em>
				</a>
				<a href="{{ path('app_admin_category_delete', {'id': subcategory.id}) }}">
					<em class="fa-solid fa-trash-can"></em>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
