<!DOCTYPE>
<html lang="{{ app.request.locale }}">
	<head>
		<title>{{ 'email_template.registration.successfully_registered'|trans }}</title>
	</head>
    <body>
        <p>{{ 'email_template.registration.welcome'|trans }} <strong>{# {{ user.username }} #}</strong> !</p>
        <br>
        <p>{{ 'email_template.registration.successfully_registered'|trans }}</p>
        <p>{{ 'email_template.registration.click'|trans }} <a href="{{ confirmation_link }}">{{ 'email_template.registration.here'|trans }}</a> {{ 'email_template.registration.confirm_account'|trans }}</p>

        <br>
        <p>Symfofo</p>
    </body>
</html>