<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Symfofo {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}{% endblock %}
	
	{{ encore_entry_script_tags('app') }}
	{% block javascripts %}	{% endblock %}
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="#" class="item header">
				Symfofo
			</a>
			
			<a  href="{{ path('app') }}" class="item">
				Forums
			</a>
			<div class="right menu">
				{% if app.user %}
				{% if is_granted("ROLE_MOD") %}
				<div class="ui simple dropdown item right">
					<em class="fa-solid fa-wrench" aria-hidden="true"></em> Administration <em class="dropdown icon"></em>
					<div class="menu">
						<a class="item" href="{{ path('app_admin_user') }}">
							<em class="fa-solid fa-users"></em>
							{{ 'manage_users'|trans }}
						</a>
						{% if is_granted("ROLE_ADMIN") %}
						<a class="item" href="{{ path('app_admin_category') }}">
							<em class="fa-solid fa-folder"></em>
							{{ 'manage_categories'|trans }}
						</a>
						{% endif %}
					</div>
				</div>
				{% endif %}
				<a class="item" href="{{ path('app_profile') }}">
					<em class="fa-solid fa-user"></em>
					{{ 'profile'|trans }}
				</a>
				
				<a class="item" href="{{ path('app_account') }}">
					<em class="fa-solid fa-gear"></em>
					{{ 'account'|trans }}
				</a>
				
				<a href="{{ path('app_search') }}" class="item right">
					<em class="fa-solid fa-search"></em>
					{{ 'search'|trans }}
				</a>
				
				<a href="{{ path('app_logout') }}" class="item right">
					<em class="fa-solid fa-right-from-bracket"></em>
					{{ 'logout'|trans }}
				</a>
				{% else %}
				<a href="{{ path('app_search') }}" class="item right">
					<em class="fa-solid fa-search"></em>
					{{ 'search'|trans }}
				</a>
				
				<a href="{{ path('app_registration') }}" class="item right">
					<em class="fa-solid fa-user-plus"></em>
					{{ 'register'|trans }}
				</a>
				
				<a href="{{ path('app_login') }}" class="item right">
					<em class="fa-solid fa-right-from-bracket"></em>
					{{ 'login'|trans }}
				</a>
				{% endif %}
				
				<div class="ui simple dropdown item right">
					<em class="fa-solid fa-language" aria-hidden="true"></em>
					<div class="menu">
						<a class="item" href="{{ path('app_language', {'locale': 'en'}) }}">
							EN
						</a>
						<a class="item" href="{{ path('app_language', {'locale': 'fr'}) }}">
							FR
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui segment container main">
		{% block body %}{% endblock %}
	</div>
	
	<div class="ui segment container">
		{{ render(controller('App\\Controller\\IndexController::online')) }}
	</div>
</body>
</html>
