{% extends 'base.html.twig' %}

{% block title %}- {{ category.name }}{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('category') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('category') }}
{% endblock %}

{% block body %}
<p class="ui header">Forum</p>

<h1 class="ui top attached header inverted">
    {{ category.name }}
</h1>

<div class="ui attached segment">
    {% for topic in topics %}
    <div class="ui grid stackable topic">
        <div class="one wide column middle aligned">
            <div class="ui fluid image small">
                <img src="{{ asset('build/images/square-image.png') }}" alt="Default topic picture">
            </div>
        </div>
        <div class="six wide column">
            <div class="row">
                <a href="{{ path('app_topic', {'id': topic.id}) }}">
                    {{ topic.title }}
                </a>
            </div>
            <div class="row">
                {{ topic.createdAt|format_datetime('medium', 'short', locale=app.request.locale)}}
            </div>
            <div class="row">
                {{ topic.author.username }}
            </div>
        </div>
        <div class="two wide column middle aligned">
            <div class="row">{{ topic.views }}</div>
            <div class="row">
                <strong>{{ 'views'|trans }}</strong>
            </div>
        </div>
        <div class="four wide column middle aligned">
            <div class="row">{{ topic.posts|length }}</div>
            <div class="row">
                <strong>{{ 'posts'|trans }}</strong>
            </div>
        </div>
        {% if topic.lastPost %}
        <div class="three wide column right aligned middle aligned">
            <div class="row">
                <strong>
                    {{ topic.lastPost.author.username }}
                </strong>
            </div>
            <div class="row">
                {{ topic.lastPost.createdAt|format_datetime('medium', 'short', locale=app.request.locale)}}
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    
    <div class="ui grid stackable">
        <div class="sixteen wide column">
            {% if app.user %}
            <a class="ui button right floated" href="{{ path('app_topic_new', {'id': category.id}) }}">
                {{ 'new_topic'|trans }}
            </a>
            {% endif %}
        </div>
    </div>

    {% if category.topics|length > 10 %}
    <div class="ui pagination menu">
        {% for i in 1..(topics|length / 10)|round(0, 'ceil') %}
        <a class="item {% if i == currentPage %}active{% endif %}" href="{{ path('app_category', {'id': category.id, 'page': i}) }}">
            {{ i }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}