{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<p class="ui header">Forum</p>

{% for category in categories %}
<div class="category">
	<h4 class="ui top attached header inverted">
		<div class="ui grid stackable">
			<div class="wide column">
				{{ category.name }}
			</div>
		</div>
	</h4>
	{% for subCategory in category.categories %}
	<div class="ui attached segment">
		<div class="ui grid stackable">
			<div class="two wide column">
				<div class="ui fluid image tiny">
					<img src="{{ asset('build/images/square-image.png') }}" alt="Default category picture">
				</div>
			</div>
			<div class="four wide column">
				<div class="row">
					<h5>
						<a href="{{ path('app_category', {'id': subCategory.id}) }}">{{ subCategory.name }}</a>
					</h5>
				</div>
				<div class="row">
					{{ subCategory.description }}
				</div>
			</div>
			<div class="one wide column"></div>
			<div class="sixteen wide mobile eight wide tablet three wide computer column">
				<div class="row">{{ subCategory.topics|length }}</div>
				<div class="row">{{ 'topics'|trans }}</div>
			</div>
			<div class="sixteen wide mobile eight wide tablet three wide computer column">
				<div class="row">{{ subCategory.posts|length }}</div>
				<div class="row">{{ 'posts'|trans }}</div>
			</div>
			<div class="three wide column right aligned">
				<div class="row">
					<a href="{{ path('app_topic', {'id': subCategory.topics|last.id}) }}">
						{{ subCategory.topics|last.title|length > 50 ? subCategory.topics|last.title|slice(0, 50) ~ '...' : subCategory.topics|last.title  }}
					</a>
				</div>
				<div class="row">
					<b>{{ subCategory.topics|last.author.username }}</b>
				</div>
				<div class="row">
					<small>
						{{ subCategory.topics|last.createdAt|format_datetime('medium', 'short', locale=app.request.locale) }}
					</small>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}
{% endblock %}
