<div class="ui" id="online-users">
	<div class="header">
		{{ 'online_users'|trans }}
	</div>
	<div class="content">
		{% if users|length %}
		<p>{{ 'online_user'|trans({'%users%': users|length}) }}</p>
		{% else %}
		<p>{{ 'no_online_user'|trans }}</p>
		{% endif %}
		<p>
			{% for user in users %}
			<span 
			{% if 'ROLE_MOD' in user.roles %}
			class="mod"
			{% elseif 'ROLE_ADMIN' in user.roles %}
			class="admin"
			{% elseif 'ROLE_SUPER_ADMIN' in user.roles %}
			class="super-admin"
			{% else %}
			class="user"
			{% endif %}
			>
			{{ user.username }}
		</span>
		{% if user != users|last %},{% endif %}
		{% endfor %}
	</p>
</div>
</div>