{% extends 'base.html.twig' %}

{% block title %}- {{ 'profile'|trans }}{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
<h1>{{ 'profile'|trans }}</h1>

{{ form_start(form, {'attr': {'class': 'ui form'}}) }}
{{ form_widget(form.profile_picture) }}
{% if app.user.profilePictureFilename %}
<img src="{{ asset('uploads/profil/' ~ app.user.profilePictureFilename) }}" alt="">
{% endif %}
{{ form_widget(form.delete_profile_picture) }}
{{ form_widget(form.signature) }}
{% for message in app.flashes('success') %}
<div class="ui positive message transition">
    <p>{{ message }}</p>
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div class="ui negative message transition">
    <p>{{ message }}</p>
</div>
{% endfor %}
{{ form_end(form) }}
{% endblock %}
