{% extends 'base.html.twig' %}

{% block title %}- {{ 'topic'|trans }}{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('topic') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('topic') }}
{% endblock %}

{% block body %}
<h1 class="ui header">{{ topic.category.name }}</h1>

<h2 class="ui top attached header inverted">
	{{ topic.title }}
</h2>

<div class="ui attached segment">
	<div class="ui grid stackable topic">
		<div class="segment ui three wide column author" style="margin:20px;">
			<div class="content">
				<div class="header">
					<div class="ui fluid image small centered rounded">
						{% if topic.author.profilePictureFilename %}
						<img src="{{ asset('uploads/profil/' ~ topic.author.profilePictureFilename) }}" alt="User profile picture">
						{% else %}
						<img src="{{ asset('build/images/square-image.png') }}" alt="Default user profile picture">
						{% endif %}
					</div>
				</div>
				<p class="username">{{ topic.author.username }}</p>
				<div class="statistics">
					<p>{{ 'topics'|trans }} : {{ topic.author.topics|length }}</p>
					<p>{{ 'posts'|trans }} : {{ topic.author.posts|length }}</p>
					<p>
						{% if topic.author.isActiveNow %}
						{{ 'online'|trans }} <i class="circle icon green" ></i>
						{% else %}
						{{ 'offline'|trans }} <i class="circle icon red" ></i>
						{% endif %}
					</p>
					<p>{{ 'joined'|trans }} : {{ topic.createdAt|format_datetime('medium', 'none', locale=app.request.locale) }} </p>
				</div>
			</div>
			<br>
		</div>
		<div class="twelve wide column" style="padding:20px;">			
			<div class="segment">
				{{ topic.message|raw }}
			</div>
			
			{% if topic.author.signature %}
			<div class="ui divider"></div>
			<div class="signature">
				{{ topic.author.signature }}
			</div>
			{% endif %}
			
			<div class="ui divider"></div>
			
			<div class="segment">
				<p>{{ 'created_date'|trans }} : <strong>{{ topic.createdAt|format_datetime('medium', 'short', locale=app.request.locale) }}</strong></p>
				<p>{{ 'updated_date'|trans }} : <strong>{{ topic.updatedAt|format_datetime('medium', 'short', locale=app.request.locale) }}</strong></p>
			</div>
		</div>
	</div>
	
	{% if app.user %}
	<h3 class="ui header right aligned">
		{% if is_granted("ROLE_MOD") %}
		<div class="ui floating dropdown icon button">
			<i class="wrench icon"></i>
			<span class="text">{{ 'moderate'|trans }}</span>
			<div class="menu">
				<div class="scrolling menu">
					{% if topic.locked %}
					<a href="{{ path('app_topic_unlock', {'id': topic.id}) }}" class="item">
						<em class="fa-solid fa-lock"></em>
						{{ 'unlock'|trans }}
					</a>
					{% else %}
					<a href="{{ path('app_topic_lock', {'id': topic.id}) }}" class="item">
						<em class="fa-solid fa-lock"></em>
						{{ 'lock'|trans }}
					</a>
					{% endif %}
					{% if (is_granted('ROLE_ADMIN') and not topic.author|has_role('ROLE_ADMIN'))
					or (is_granted('ROLE_SUPER_ADMIN') and not topic.author|has_role('ROLE_SUPER_ADMIN')) %}
					<a href="{{ path('app_topic_delete', {'id': topic.id}) }}" class="item">
						<em class="fa-solid fa-trash"></em>
						{{ 'delete'|trans }}
					</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% else %}
		{% if topic.posts|length <= 0 %}
		<a class="ui button" href="{{ path('app_topic_delete', {'id': topic.id}) }}">
			<em class="fa-solid fa-trash"></em>
			{{ 'delete'|trans }}
		</a>
		{% endif %}
		{% endif %}
		{% if app.user == topic.author %}
		<a class="ui button" href="{{ path('app_topic_edit', {'id': topic.id}) }}">
			<em class="fa-solid fa-pencil"></em>
			{{ 'edit'|trans }}
		</a>
		{% endif %}
		{% if not topic.locked %}
		<a class="ui button" href="{{ path('app_post_new', {'id': topic.id}) }}">
			<em class="fa-solid fa-reply"></em>
			{{ 'reply'|trans }}
		</a>
		{% endif %}
	</h3>
	{% endif %}
</div>

{% for post in posts %}
<div class="ui attached segment post" id="post_{{ post.id }}">
	<div class="ui grid stackable">
		<div class="segment ui three wide column author" style="margin:20px;">
			<div class="content">
				<div class="header">
					<div class="ui fluid image small centered rounded">
						{% if post.author.profilePictureFilename %}
						<img src="{{ asset('uploads/profil/' ~ post.author.profilePictureFilename) }}" alt="User profile picture">
						{% else %}
						<img src="{{ asset('build/images/square-image.png') }}" alt="Default user profile picture">
						{% endif %}
					</div>
				</div>
				<p class="username">{{ post.author.username }}</p>
				<div class="statistics">
					<p>{{ 'topics'|trans }} : {{ post.author.topics|length }}</p>
					<p>{{ 'posts'|trans }} : {{ post.author.posts|length }}</p>
					<p>
						{% if post.author.isActiveNow %}
						{{ 'online'|trans }} <i class="circle icon green" ></i>
						{% else %}
						{{ 'offline'|trans }} <i class="circle icon red" ></i>
						{% endif %}
					</p>
					<p>{{ 'joined'|trans }} : {{ post.createdAt|format_datetime('medium', 'none', locale=app.request.locale) }} </p>
				</div>
			</div>
		</div>
		<div class="twelve wide column" style="padding:20px;">
			<div class="segment">
				{{ post.message|raw }}
			</div>
			
			{% if post.author.signature %}
			<div class="ui divider"></div>
			<div class="signature">
				{{ post.author.signature }}
			</div>
			{% endif %}
			
			<div class="ui divider"></div>
			
			<div class="segment">
				<p>{{ 'created_date'|trans }} : <strong>{{ post.createdAt|format_datetime('medium', 'short', locale=app.request.locale) }}</strong></p>
				<p>{{ 'updated_date'|trans }} : <strong>{{ post.updatedAt|format_datetime('medium', 'short', locale=app.request.locale) }}</strong></p>
			</div>
		</div>
	</div>
	
	{% if app.user %}
	<h3 class="ui header right aligned">
		{% if is_granted("ROLE_ADMIN") and app.user != post.author %}
		<div class="ui floating dropdown icon button">
			<i class="wrench icon"></i>
			<span class="text">{{ 'moderate'|trans }}</span>
			<div class="menu">
				<div class="scrolling menu">
					{% if (is_granted('ROLE_ADMIN') and not post.author|has_role('ROLE_ADMIN'))
					or (is_granted('ROLE_SUPER_ADMIN') and not post.author|has_role('ROLE_SUPER_ADMIN')) %}
					<a href="{{ path('app_post_delete', {'id': post.id}) }}" class="item">
						<em class="fa-solid fa-trash"></em>
						{{ 'delete'|trans }}
					</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		{% if app.user == post.author %}
		<a class="ui button" href="{{ path('app_post_edit', {'id': post.id}) }}">
			<em class="fa-solid fa-pencil"></em>
			{{ 'edit'|trans }}
		</a>
		{% endif %}
		{% if not topic.locked %}
		<a class="ui button" href="{{ path('app_post_new', {'id': topic.id}) }}">
			<em class="fa-solid fa-reply"></em>
			{{ 'reply'|trans }}
		</a>
		{% endif %}
	</h3>
	{% endif %}
</div>
{% endfor %}

{% if topic.posts|length > 6 %}
<div class="ui pagination menu">
	{% for i in 1..(posts|length / 6)|round(0, 'ceil') %}
	<a class="item {% if i == currentPage %}active{% endif %}" href="{{ path('app_topic', {'id': topic.id, 'page': i}) }}">
		{{ i }}
	</a>
	{% endfor %}
</div>
{% endif %}
{% endblock %}